caption{
     caption-side: bottom;
}
table{
     border-width: 10px;
     border-color: #3333FF;
     border-collapse: collapse;
     font-family: Verdana, sans-serif;
     vertical-align: bottom;
}
table th{
     background-color: #336666;
     color: white;
}
