body, html{
  background-color: #000;
  height: 100%;
  margin: 0;
}

.text{
    letter-spacing: 10px;
    font-size: 25px;
    margin: auto;
    display: inline-block;
}
.head{
  font-size: 45px;
  letter-spacing: 15px;
}

.sub{
  font-size: 20px;
  letter-spacing: 7px;
  margin: auto;
  display: inline-block;
}
